name: limit-main-pr

on:
  pull_request:
    branches:
      - main

jobs:
  check-branch:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Validate source branch
        id: validate
        continue-on-error: true
        run: |
          SRC="${{ github.head_ref }}"

          if [[ "$SRC" == "staging" || "$SRC" =~ ^bugfix/ ]]; then
            echo "Allowed: $SRC"
            exit 0
          fi

          echo "❌ PR from '$SRC' is not allowed to main."
          echo "Allowed branches: staging, bugfix/*"
          echo "allowed=false" >> $GITHUB_OUTPUT
          exit 1

      - name: Comment on PR
        if: steps.validate.outputs.allowed == 'false'
        uses: actions/github-script@v7
        with:
          script: |
            let comment = `❌ PR from '${context.payload.pull_request.head.ref}' is not allowed to main.\n`
            comment += `Allowed branches: staging, bugfix/*\n`

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: comment
            })

      - name: Fail workflow if blocked
        if: steps.validate.outputs.allowed == 'false'
        run: exit 1
